*{
  box-sizing: border-box;
}
main{
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}
img{
  max-width: 100%;
}
header{
  display:flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
  margin-top: 1.5rem;
}

header a{
  text-decoration: none;
  color:inherit;
}

header a.logo{
  font-weight: bold;
  font-size: 20px;
}

header nav{
  display: flex;
  gap: 2rem;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.post{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  margin-bottom: 2rem;
}
.post .texts  h2{
  margin: 0px;

}

.post .texts a{
  text-decoration: none;
  color: inherit;
}

/* .post p{
  margin-top: 0rem;
} */

.post .info a{
  text-decoration: none;
  color: black;
  margin-right: 0.5rem;
  /* font-weight: bold;
  font-size: 0.9rem; */
}

.post .info time{
  font-size: 0.9rem;
}


form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

input{
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

button{
  width: 100%;
  display: block;
  padding: 0.5rem;
}

form.login h2, form.register h2{
  text-align: center;
}

.post-page h1{
  text-align: center;
}

.post-page time{
  text-align: center;
  display: block;
  font-size: 0.8rem;
}

.post-page .author{
  text-align: center;
  font-weight: 500;
}

.post-page .image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-row{
  text-align: center;
  margin: 1rem;
}

.edit-btn{
  background-color: #333;
  color:#fff;
  padding: 0.4rem;
  text-decoration: none;
  border-radius: 0.25rem;
}